.stWindow {
  border: 2px solid black;
}

.borderPane {
  display: grid;
  grid-template-columns: 100px 200px 100px;
  grid-template-rows: auto auto 300px auto;
}

.windowTitle {
  grid-row: 1;
  grid-column: 1 / 4;
}
.north {
  border: 1px solid black;
  grid-row: 2;
  grid-column: 1 / 4;
}
.south {
  border: 1px solid black;
  grid-row: 4;
  grid-column: 1 / 4;
}
.east {
  border: 1px solid black;
  grid-row: 3;
  grid-column: 3;
}
.west {
  border: 1px solid black;
  grid-row: 3;
  grid-column: 1;
}
.center {
  border: 1px solid black;
  grid-row: 3;
  grid-column: 2;
}

.listBox {
  overflow: scroll;
  margin: 0;
  padding-left: 0;
}

li:hover {
  background: #eee;
}

li.selected {
  background: #c2e7ff;
}
